[submodule "alpha_bunny/libs/imgui"]
	path = alpha_bunny/libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "delaunay_vs_regular_triangulation/libs/imgui"]
	path = delaunay_vs_regular_triangulation/libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "voronoi_delaunay/libs/imgui"]
	path = voronoi_delaunay/libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "dt_bunny/libs/imgui"]
	path = dt_bunny/libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "normal_bunny/libs/imgui"]
	path = normal_bunny/libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "offviewer/libs/imgui"]
	path = offviewer/libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "poisson_bunny/libs/imgui"]
	path = poisson_bunny/libs/imgui
	url = https://github.com/ocornut/imgui
